<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    
<h1>Nodella</h1>

<h2>Welcome to Nodella <!-- if logged in, show username, if not nothing --></h2>
<h3><span>Nodella,</span> a community used to describe particular coding experiences with Node.js. Login to post your Nodella, whether it 
    is to give your story on how you overcame a Node.js problem that was beating you up, or to post a current
    nodemna that you find yourself in to get help!
</h3>
<h3>This community is meant to help others that are struggling with the same challenges</h3>
</body>
</html>