<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
</head>
<body class="login">

    <!-- Header -->
    <header id="header">
        <div class="content">
            <h1>Login</h1>
            <section class="form">
                <form action="/login" method="POST">
                    <div>
                    <input type="text" placeholder="E-mail" name="email">
                </div>
                <div>
                    <input type="password" placeholder="Password" name="password"> <!--changed input type-->
                </div>
                <br>
                <ul class="actions">
                    <li>
                    <input 
                    class="button primary icon solid"
                    type="submit"
                    value="Login"
                    id="submit" />
                </li>
                <li><a href="/signup" class="button primary icon solid">Signup</a></li>
                </ul>
                </form>
                <div>
                    
                </div>
    </header>
</body>
</html>