<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css" />
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
    <title>Story</title>
</head>
<body class="profile">
    <section>
    <div id="topList">
        <ul class="noStyle">
            <li> <a href="/">Home</a></li>
            <li><a href="/feed">Feed</a></li>
            <li> <a href="logout">Logout</a></li>
        </ul>
    </div>
    <header class="major align-center">
        <h1>Your Story <%= user.nodellaUsername %> </h1>
</header>

<section class="newPost">
    <div class="postAuthor"><%=post.userName %></div>
    <div class="postTitle"> <span class="titleSpan"> <%= post.title %></span>  </div>
    <div class="postContent"><%= post.story %></div>
</section>



    <script src="js/main.js"></script>
</body>
</html>